[CREDENTIALS]
COMCAST_USERNAME = 
COMCAST_PASSWORD = 

[SETUP]
ALLOWED_VIDEO_FORMATS = ["mp4", "mov", "wmv", "mpg"]
ALLOWED_VIDEO_LENGTHS = [10, 15, 20, 30, 60]
FRAME_TOLERANCE = 3

[UPLOAD]
DEFAULT_RECIPIENT =
